.button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

.button-primary {
    background-color: #D2872C;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}

.primary-color {
    color: #D2872C;
}

.secondary-color {
    color: #766F68;
}

.escopo-flex {
    display: flex;
}

.lista-menu li {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.burguer-menu {
    width: 32px;
}

.burguer-menu:hover {
    cursor: pointer;
}

.mt-2rem {
    margin-top: 2rem;
}

@media (max-width: 959px) {
    .flex-navbar {
        justify-content: space-between;
        align-items: center;
        padding: 35px 20px;
    }

    .flex-imagem {
        flex-direction: column;
        align-items: center;
    }

    .imagem-reuniao {
        width: 80%;
        margin-top: 20px;
    }

    .titulo-pagina {
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 15px;
    }
    
    .titulo-principal {
        margin-top: 1rem;
        font-weight: bolder;
        line-height: 2.7rem;
    }
    
    .texto-secundario {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .escopo-flex-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .burguer-menu {
        display: block;
    }
    
    .lista-menu {
        display: none;
    }

    .lista-menu {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 960px) {
    .burguer-menu {
        display: none;
    }

    .lista-menu {
        display: flex;
    }

    .flex-navbar {
        justify-content: space-between;
        padding: 70px 55px;
    }

    .titulo-pagina {
        font-size: 2rem;
        font-weight: bolder;
    }

    .lista-menu li {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .flex-imagem {
        flex-direction: row-reverse;
    }

    .imagem-reuniao {
        width: 60%;
    }

    .escopo-flex-principal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 475px;
        
        position: absolute;
        left: 0;
        margin-left: 7rem;
    }

    .titulo-principal {
        font-size: 4rem;
    }

    .texto-secundario {
        margin-top: 3rem;
        font-size: 2rem;
    }

    .button {
        margin-top: 3rem;
        width: 300px;
        height: 75px;
        font-size: 1.8rem;
    }
}
